<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108234771-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108234771-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LaxisList</title>

    <!-- description -->
    <meta name="description" content="Retrouver tout ce que vous désirez acheter et comparez les prix. Vendez à votre tour avec LaxisList.">

    <!-- SEO -->

    <meta name="keywords" content="LaxisList, Laxistlist, laxilist, Laxisliste, Marché en ligne, Online marketplace, african marketplace, Acheter en ligne, Marche en ligne Congo, Marché en ligne Congo, RDC, DRC, Online market, Online Market in Congo, Online Marketplace in Congo, First Marketplace Congo, shopping, Online shopping, Tout acheter en ligne, Kinshasa, Kinshasa marche, lubumbashi, marche lubumbshi, wenze, congo wenze, wenze na congo, Aaron Dizele, Laxis, Aaron Laxis">
    <!--  -->

    <!-- Structure datas -->

    <script type="application/ld+json">
    {
        "@type": "Organization",
        "url": "https://www.laxislist.com",
        "name": "LaxisList.",
        "description": "Retrouver tout ce que vous désirez acheter et comparez les prix. Vendez à votre tour.",
        "contactPoint": {
          "@type": "Nous contacter",
          "telephone": "+243823440011",
          "contactType": "Assistance"
        }
      }
    </script>

    <!-- Language -->
    <link rel="alternate" hreflang="x" href="alternateURL">

    <!-- Author -->
    <meta name="author" content="Aaron Laxis Dizele">

    <!--  -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://use.fontawesome.com/c7735c3551.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="https://firebasestorage.googleapis.com/v0/b/laxislist.appspot.com/o/statics%2Ffavicon-32x32-min.png?alt=media&token=b3edea56-24a6-4d2a-9f27-70ebb8ba553f">
    <link rel="icon" type="image/png" sizes="16x16" href="https://firebasestorage.googleapis.com/v0/b/laxislist.appspot.com/o/statics%2Ffavicon-16x16-min.png?alt=media&token=c0313e49-bc3d-4d23-b7bb-d4a873de28de">    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->

    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#FFFFFF">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#333333">
    <meta name="apple-mobile-web-app-title" content="LaxisList">
    <link rel="apple-touch-icon" href="https://firebasestorage.googleapis.com/v0/b/laxislist.appspot.com/o/statics%2Fapple-touch-icon-152x152-min.png?alt=media&token=058c8694-c3d1-4b70-aec3-0c0ec152e41a">

    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="https://firebasestorage.googleapis.com/v0/b/laxislist.appspot.com/o/statics%2Fmsapplication-icon-144x144-min.png?alt=media&token=2e1ffbc2-7b73-4be9-a48a-327df5585a94">
    <meta name="msapplication-TileColor" content="#333333">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <style>
    .loading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      font-family: 'Roboto', Helvetica, sans-serif;
      font-size: 16px;
    }
    #loader1{
	    border: 8px solid #f3f3f3; /* Light grey */
	    border-top: 8px solid #3498db; /* Blue */
	    border-radius: 50%;
	    width: 80px;
	    height: 80px;
	    animation: spin 1s linear infinite;
	  }
    @keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	  }
  </style>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app"><div class="loading"><span id="loader1"></span></div></div>
    <!-- <div id="app"><div class="loading"><i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size: 90px; color: blue;"></i></div></div> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
